---
version: 4
---

@import "variables";

@mixin sidebar-fixed {
  overflow: auto;
  position: sticky;
  top: 0;
  height: 100vh;
  width: $sidebar-width;
}

@mixin toc-fixed {
  overflow: auto;
  position: sticky;
  top: 0;
  height: 100vh;
  width: $toc-width;
}

.text-decoration-underline {
  text-decoration: underline;
}

.gl-font-base {
  font-size: 1rem;
}

.gl-w-3 {
  width: 1rem;
}
